{% extends 'base/base.html' %}


{% block contenido %}
    <h1>Bienvenido, {{usuario_autenticado}}</h1>

    <h1>LISTA DE PACIENTES</h1>

    <a href="{% url 'pacientes:nuevo' %}">Nuevo</a>

    <table>
        <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        </tr>

        
        {% for us in todo_los_pacientes %}
            <tr>
                <td>{{us.nombre}}</td>
                <td>{{us.apellido}}</td>
        
            </tr>
            
        {% endfor %}
    </table>
{% endblock contenido %}