<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><a href="{% url 'inicio' %}">Volver al inicio</a></p>
    <p><a href="{% url 'usuarios:lista' %}">Lista de usuarios</a></p>
    <p><a href="{% url 'lista_de_pacientes' %}">Lista de pacientes</a></p>

    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="POST">{% csrf_token %}
            <p><button class="btn btn-link" type="submit">Cerrar sesion</button></p>
        </form>
        
    {% else %}
        <p><a href="{% url 'login' %}">Iniciar sesion</a></p>
    {% endif %}

    
    {% block contenido %}
        
    {% endblock contenido %}
        

</body>
</html>